@model Veterinary.web.Models.Pet
@{
ViewData["Title"] = "Details";
}
<link rel="stylesheet" type="text/css"
href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">
<h2>Details</h2>
<div>
    <h4>Pet</h4>
<br />
    <style>
        dt {
            float: left;
            clear: left;
            width: 200px;
            font-weight: bold;
            color: black;
            }
        dt::after {
            content: ":";
            }
        dd {
        margin: 0 0 0 80px;
        padding: 0 0 0.5em 0;
        }
    </style>
    <hr />
    <dl>
        <dt>@Html.DisplayNameFor(model => model.PetName)</dt>
        <dd>@Html.DisplayFor(model => model.PetName)</dd>
        <dt>@Html.DisplayNameFor(model => model.Allergy)</dt>
        <dd>@Html.DisplayFor(model => model.Allergy)</dd>
        <dt>@Html.DisplayNameFor(model => model.Date)</dt>
        <dd>@Html.DisplayFor(model => model.Date)</dd>
        <dt>@Html.DisplayNameFor(model => model.Age)</dt>
        <dd>@Html.DisplayFor(model => model.Age)</dd>
        <dt>@Html.DisplayNameFor(model => model.Gender)</dt>
        <dd>@Html.DisplayFor(model => model.Gender)</dd>
        <dt>@Html.DisplayNameFor(model => model.Race)</dt>
        <dd>@Html.DisplayFor(model => model.Race)</dd>
        <dt>@Html.DisplayNameFor(model => model.Weight)</dt>
        <dd>@Html.DisplayFor(model => model.Weight)</dd>
        <dt>@Html.DisplayNameFor(model => model.Colour)</dt>
        <dd>@Html.DisplayFor(model => model.Colour)</dd>
        <dt>@Html.DisplayNameFor(model => model.Remarks)</dt>
        <dd>@Html.DisplayFor(model => model.Remarks)</dd>
        <dt>@Html.DisplayNameFor(model => model.VeterinariansNumber)</dt>
        <dd>@Html.DisplayFor(model => model.VeterinariansNumber)</dd>
    </dl>
</div>
<div>
    <a asp-action="AddVeterinarian" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fas fa-plus"></i> Veterinarian</a> |
    <a asp-action="Details" asp-route-id="@Model.IdOwner" class="btn btn-success">Back to List</a>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Veterinarians</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model =>model.Veterinarians.FirstOrDefault().VeterinarianName)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Veterinarians)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VeterinarianName)
                                </td>
                                <td>
                                    <a asp-action="EditVeterinarian" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
// Delete item
                sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete','/Owners/DeleteVeterinarian/', false);});

    </script>
}